In [38]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
import seaborn as sn

In [39]:
df=sn.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [41]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [42]:
df.nunique()

total_bill    229
tip           123
sex             2
smoker          2
day             4
time            2
size            6
dtype: int64

In [43]:
# df['sex'].unique()
# df['sex']=df['sex'].map({'Female':0,'Male':1})

In [44]:
# df['smoker'].unique()
# df['smoker']=df['sex'].map({'Yes':0,'No':1})

In [45]:
df['time'].unique()
df['time']=df['time'].map({'Lunch':0,'Dinner':1})

In [46]:
df['size'].unique()

array([2, 3, 4, 1, 6, 5], dtype=int64)

In [47]:
x=df[['total_bill','time','size']]
y=df['tip']
x.to_csv('features_tips')

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [49]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(x_train,y_train)
prediction=model.predict(x_test)

In [50]:
with open ('tips_model.pkl','wb') as file:
    pickle.dump(model,file)